.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20px 80px;
  position: absolute;
  width: 85vw;
  top: 0;
  scroll-behavior: smooth;
}
.navbar .toggle-open {
  display: none;
}
.navbar .links .toggle-close {
  display: none;
}
.navbar .logo img {
  height: 50px;
}

.navbar .links {
  list-style: none;
  display: flex;
  gap: 3vw;
}
.hide {
  display: none;
}

.navbar .links li {
  margin: 0;
}

.navbar .links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

@media (max-width: 1100px) {
  .navbar .toggle-open {
    display: block;
    transition: 0.3s ease-in-out;
    position: absolute;
    right: 80px;
    top: 30px;
  }
  .navbar .links .toggle-close {
    display: block;
  }
  .navbar .links {
    display: block;
    position: absolute;
    z-index: 5;
    right: 30px;
    top: 10px;
    transform: translateX(250px);
    transition: 0.3s ease-in-out;
  }
  .navbar .active {
    display: block;
    position: absolute;
    z-index: 5;
    right: 30px;
    top: 10px;
    transform: translateX(0px);
    transition: 0.3s ease-in-out;
  }
}
