.token-sale {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  font-size: 16px;
}
.token-sale h1 {
  text-align: center;
  font-size: 50px;
}
.token-sale ul li {
  list-style: circle;
  margin: 3px 0;
}
.token-sale .bottom {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 8vw;
  width: 100%;
  margin-top: 80px;
  height: 100%;
}

.token-sale .bottom .left,
.token-sale .bottom .right {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(20, 20, 20);
  padding: 25px;
  border-radius: 15px;
  height: 100%;
}

.token-sale .bottom .left .heading,
.token-sale .bottom .right .heading {
  font-size: 25px;
}

.token-sale .bottom .left .info {
  /* font-size: 16px; */
  line-height: 25px;
}
.token-sale .bottom .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.token-sale .bottom .right .some-info,
.slider-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.token-sale .right .each-info p {
  font-size: 16px;
}
.token-sale .bottom .right .slider-bg {
  height: 30px;
  width: 100%;
  background-color: blue;
  border-radius: 100px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.token-sale .bottom .right .slider {
  height: 21px;
  background-color: #0077ff;
  border-radius: 100px;
  width: 100px;
  transform: translateX(5px);
}

.token-sale .bottom .right .each-info,
.slider-count,
.loi-counter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
}
.slider-count {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}
.loi-counter {
  background-color: #323232;
  justify-content: space-between;
  padding: 20px 10px;
  border-radius: 20px;
  margin: 10px 0;
}
.loi-counter p {
  margin: 0 10px;
}
.token-sale .bottom .right hr {
  width: 100%;
  opacity: 50%;
}
.token-sale .bottom .right button {
  width: 100%;
  height: 50px;
  background-color: rgb(0, 89, 255);
  border-radius: 100px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.token-sale .bottom .right button:hover {
  background-color: blue;
  transition: 0.3s ease-in-out;
}
.token-sale .bottom .right .each-info p {
  font-size: 15px;
}
/* =============================================  Container 2  ============================================== */

.container2 {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 50px;
  gap: 4rem;
}
.container2 .right,
.container2 .left {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  justify-content: space-between;
}
.container2-heading {
  margin-top: 150px;
}
.container2 .left .info {
  font-size: 16px;
}

.container2 .right .feature {
  padding: 25px;
  background-color: rgb(20, 20, 20);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.container2 .right .feature button {
  width: 50%;
  padding: 10px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid rgb(191, 191, 191);
  color: white;
  margin-top: 10px;
}

/* =================================================  POP UP  ================================================ */
.hide {
  display: none;
}
.popup-container {
  top: 0;
  width: 100vw;
  position: absolute;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.token-sale .floating-container {
  position: fixed;
  /* top: 25vh;
  left: 30%; */
  padding: 50px;
  border-radius: 20px;
  background-color: #000000;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid rgb(44, 44, 44);
  width: 30vw;
  min-width: 250px;
}
h3 {
  margin: 0;
}
.token-sale .floating-container .top-float {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.token-sale .floating-container .exchange {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.token-sale .floating-container .exchange .select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.token-sale .floating-container .exchange .top-float,
.token-sale .floating-container .exchange .bottom-float {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  background-color: #18192d;
  border-radius: 100px;
  padding: 0 20px;
  height: 50px;
  border: 1px solid rgb(54, 54, 54);
}
.token-sale .floating-container .exchange .top-float input {
  width: 50%;
  background-color: transparent;
  text-align: right;
  border: none;
  outline: none;
  margin-right: 10px;
  font-size: 20px;
  color: white;
}
.token-sale .floating-container .exchange .bottom-float {
  justify-content: space-between;
}
.token-sale .floating-container .exchange .top-float .input,
.token-sale .floating-container .exchange .top-float .value,
.token-sale .floating-container .exchange .bottom-float .input,
.token-sale .floating-container .exchange .bottom-float .value {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.token-sale .floating-container .exchange .top-float .value {
  display: flex;
  justify-content: end;
}

.price-loi {
  font-size: 16px;
  text-align: center;
}
.token-sale .floating-container button {
  padding: 10px;
  border-radius: 100px;
  background-color: rgb(102, 102, 255);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* ===================================   Responsive   ===================================== */

@media (max-width: 1000px) {
  .token-sale .container1 .bottom {
    flex-direction: column;
    align-items: center;
  }
  .token-sale .container1 .bottom .left,
  .token-sale .container1 .bottom .right {
    width: 60vw;
  }

  /* .token-sale .floating-container {
    left: 25vw;
  } */

  .container2 {
    flex-direction: column;
    align-items: center;
    width: 60vw;
  }
}

@media (max-width: 600px) {
  .container1 h1 {
    font-size: 40px;
  }
  .token-sale .container1 .bottom {
    flex-direction: column;
    align-items: center;
  }
  .token-sale .container1 .bottom .left,
  .token-sale .container1 .bottom .right {
    width: 80vw;
  }

  /* .token-sale .floating-container {
    left: 25vw;
  } */

  .container2 .left,
  .container2 .right {
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
  .container2 .right .feature {
    margin-bottom: 30px;
  }
  /* .token-sale .floating-container {
    left: 10vw;
    min-width: 250px;
  } */
}
